body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

header {
    padding: 20px;
    background: #ff6f61;
}

.dashboard, .quiz {
    background: white;
    color: black;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
}

.progress-bar {
    background: #ddd;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#progress {
    background: #4caf50;
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff6f61;
}
